body {
}

.content {
    left: 80px;
    top: 80px;
    right: 300px;
    position: fixed;
    padding: 0px;
    padding-bottom: 50px;
    width: calc(100vw  - 80px);
    height: 100vh;
    overflow: auto;
    height: calc(100vh - 80px); /* 減去頂部導航欄的高度 */
    overflow-y: auto; /* 允許在 Y 軸方向滾動 */
}

h1 {
    text-align: center;
}

.items {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    font-size: x-large;
}

table {
    border-collapse: collapse;

}


tr:hover td:not(:first-child) {
    background-color: #fac9b246;
}

.price {
    text-align: right;
}

.name {
    padding-left: 50px;
}

.icon {
    margin-right: 10px;
}

.icon img {
    width: 30px;
}

.img img{
    width: 100px;
}





.operation {
    padding-left: 30px;
}


/* #828282 */

.icon :hover {
    cursor: pointer;
}
